.boxA {

    width:500px;
    height: 500px;
    background-color:#eee;
}

.boxB {
    position:absolute;
    top:50px;
    left:200px;
    width:100px;
    height:200px;
    background-color:23bc12;
}
div {

    width:500px;
    height: 500px;
    background-color:#eee;
}

iv {

}
