#datum {
    color: #fff;

background-color: transparent;

border: none;

}

#myform {
     min-height:350px;
    max-height:500px;
}


#calender {
    width:100%;
    min-height:400px;
    max-height:450px;

}

.kalenderbox {
    background-color: azure;
    width:100px;
     min-height:350px;
    max-height:500px;
}

.monat {
    z-index: 1;
    padding:0px;
    width:100%;
    background-color: #103D4B;
    opacity: 0.80;
      min-height:400px;
    max-height:450px;
    margin-left:-16px;

}

.monthtypo {
    font: bold 5em Segoe UI semibold, sans-serif;
    transform: rotate(270deg);
    color:white;
    line-height: 5.5;
    z-index: 1;
}

#calendar_month {
     min-height:350px;
    max-height:500px;

}

.arrows {
    display: flex;
	align-items: center; /* Vertikale Zentrierung */
	justify-content: center; /* Horizontale Zentrierung */
    z-index: 1;
    width: 35px;
    height: 200px;
    background-color: none;
    opacity: 0.80;
}

.arrows_content {
    z-index: 1;
    width: 10px;
    height: 85px;
    background-color: none;
}

.arrow_font {
	font: normal 65px Segoe UI light, sans-serif;
	text-align: center;
	color: #414347;
;
	text-decoration: none;
}

.text {
    z-index: 1;
    padding:0px;
    width:300;
    height:200px;
    background-color: #B2166A;
    opacity: 0.80;
}

.calendar_link {
	font: normal 15px Segoe UI semibold, sans-serif;
	text-align: center;
	color: #414347;
	text-decoration: none;
}

.calendar_head {
    font: normal 15px Segoe UI, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	width: 25px;
}

.calendar_head_month {
    font: bold 15px Segoe UI, sans-serif;
	text-align: center;
	width: 25px;
	background-color: #0066FF;
	color: #FFFFFF;
}

.calendar_day {
	font: bold 15px Segoe UI, sans-serif;
	text-align: center;
	width: 12em;
	color: #033E52;
	background-color: none;
}

.calendar_entry {
	text-align: center;
}
