/* -------------------------- FONT -------------------------- */
menufont {
	font: normal 15px Segoe UI, sans-serif;
}

counttypo {
    font: normal 20px Segoe UI semibold, sans-serif;
    color:white;
}

p {
	font: normal .9em/150% Segoe UI, sans-serif;
}

/* -------------------------- HEADER -------------------------- */
header {
    width:100%;
}

.header-background img {
    position: relative;
    width: 100%;
    z-index: 0;
}

.header-background {
    position:relative;
    z-index: 0;
}

.box {
    position: absolute;
    z-index: 2;
    background-color: white;
    left: 0px;
    top: 0;
    width: 400px;
    height: 100px;
    opacity: 0.85;
}

.box img {
    top: 25px;
    left: 25px;
    width: 300px;
    position: absolute;
    z-index: 2;
}

.countdown {
    position: absolute;
    z-index: 2;
    width:100%;
    height: 100%;
}

#countdown-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
}



/* -------------------------- Dropdown Menu -------------------------- */
.btn_wrapper {
    top: 10px;
    right: 30px;
    position:fixed;
    z-index: 2;
}

.dropbtn {

    position: absolute;
    top: 5px;
    right: 5px;
    box-sizing: 16px;
    color: white;
    padding: 0px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    z-index: 2;

    background-color: rgba(65, 67, 71, 0.4);
}

.dropbtn:hover {
}

.dropbtn:focus {
    background-color: rgba(65, 67, 71);
}

#myInput {
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 20px;
    padding: 14px 20px 12px 45px;
    border: none;

}

#myInput:focus {
    outline: 3px solid #ddd;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 2;
}

.dropdown-content {
    display: none;
    background-color:#fff;
    opacity: 0.85;
    width: 210px;

}

.dropdown-content a {

    color: black;
    padding: 12px 16px;
    text-align: right;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #CE1478;
}

.show {
    display: block;
    padding-top: 70px;
}


/* -------------------------- SozialMediaButtons --------------------------*/
.buttons {
    max-width: 20%;
    position: absolute;
    top: 10px;
    right: 10px;
    box-sizing: 16px;
   /* color: white; */
    padding: 0px;
    font-size: 16px;
    border: none;

    border-radius: 100%;
    z-index: 2;
}
/*.facbebookbtn img {
    top: 600px;
    right: 250px;
    width:50px;
    height: 50px;
    position: absolute;
    z-index: 2;
    cursor: pointer;
} */

.facebookbtn {
       background-image:url("image/facebook50x50.png");
  border: none;
 background-color: transparent;
      top: 600px;
    right: 250px;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}



.instagrambtn {
   background-image:url("image/instagram50x50.png");
  border: none;
 background-color: transparent;
      top: 600px;
    right: 190px;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 2;
    cursor: pointer;

}
.youtubebtn {
    background-image: url("image/youtube50x50.png");
     border: none;
 background-color: transparent;
    top: 600px;
    right: 130px;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}
.twitterbtn {
     background-image: url("image/twitter50x50.png");
     border: none;
 background-color: transparent;
    top: 600px;
    right: 70px;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

/* -------------------------- CONTENT --------------------------*/

#content {

    width:100%;
    height:900px;
    background-color: #B6387A;

}

.testbox1 {
     transform: skewY(10deg);
    background-color:#000;
    width:300px;
    height:200px;
   margin-left:200px;
    z-index: 0;
    position:absolute;


}

.text1 {
   position:absolute;
    top:50px;
    left:20px;
    background-color:#fff;
    color:#000;
    transform: skewY(-10deg);
    width:70%;

}

.testbox2 {

    background-image: url("image/JR-Seminar-2017-web-68_angepasst.jpg");
    position:absolute;
    top:800px;
     z-index: 1;

    width:300px;
    height:300px;
    margin-left:200px;
    margin-top:-30px;

}

.text2 {
    magrin-top:20px;

}

/* -------------------------- FOOTER --------------------------*/

footer {
    width:100%;
    height: 100px;
    background-color:#ddd;
}
