.container-fluid {





}



/*--------- HEADER -----------*/
.header-bild img{
    width: 100%;
    height: 100%;

    z-index: 1;
}

.header-bild {
    position:relative;
     z-index: 1;
}


/*--------------------------- CONTENT -----------------------------*/

/*--------------------------- STARTSEITE --------------------------*/
.bg {
	display: flex;
	background: url(image/Startseite/gruppenbildAltweiberH800.png) no-repeat;
	justify-content: flex-start;
    height:500px;
    font-size:1.5vw;
    background-attachment:scroll;
    background-size: 150% auto;
    background-position: center center;
    transform: skewY(-2deg);
    margin-top:-2em;
    z-index: 0;
    background-color: darkmagenta;
    }

.kalender {
    transform: skewY(2deg);
    margin-top:2em;
}

.kalendertext {
    transform: skewY(2deg);
    margin-top:4em;
}

@media only screen and (max-width: 850px) {
    .bg { background-size:1220px;}
    }





.beitrag {
    display: flex;
	justify-content: flex-start;
    background-size: 100% auto;
    background-position: center center;

    width:100%;
    transform: skewY(-2deg);
    margin-top:-2em;
    z-index: 0;

    }

.beitrag1 {
    background: url(image/Startseite/beitrag1.png) no-repeat;
    background-attachment:scroll;
    background-size: 150%;
    background-position: center center;
    min-height:350px;
    max-height:450px;
    background-color: blueviolet;

   }



div.col-lg-4:nth-child(1) {
    padding-right:0px;
}

.beitrag2 {
    background-image: url(image/Startseite/beitrag2.png);
    background-color: darkblue;
    background-attachment:scroll;
    background-size: 150% auto;
    background-position: center center;
    min-height:350px;
    max-height:450px;
    background-repeat: no-repeat;
     }

div.col-lg-4:nth-child(2) {
    padding:0px;
}

.beitrag3 {
    background-image: url(image/Startseite/beitrag3.png);
    background-attachment:scroll;
    background-size: 150% auto;
    background-position: center center;
    min-height:350px;
    max-height:450px;
    background-repeat: no-repeat;
    background-color: bisque;

   }

.beitragbinde3 {

    background-color: rgba(24, 97, 133, 0.8);
    padding:2%;
    width:80%;
    position:relative;
    top:215px;
    margin-left:auto;
    margin-right:auto;
    height:70px;
    transform: skewY(2deg);
    color:#fff;
}


.beitragbinde1 {

    background-color: rgba(24, 97, 133, 0.8);
    padding:2%;
    width:80%;
    position:relative;
    top:180px;
    margin-left:auto;
    margin-right:auto;
    height:70px;
    transform: skewY(2deg);
    color:#fff;
}

.beitragbinde2 {

    background-color: rgba(24, 97, 133, 0.8);
    padding:2%;
    width:80%;
    position:relative;
    top:200px;
    margin-left:auto;
    margin-right:auto;
    height:70px;
    transform: skewY(2deg);
    color:#fff;
}

.beitragbinde1 img {
    flot:right;
    width:30px;
}

.beitragbinde2 img {
    flot:right;
    width:30px;
}

.beitragbinde3 img {
    flot:right;
    width:30px;
}

@media only screen and (max-width: 1100px) {

    .beitrag1 {
    background-size:540px;

    }

    .beitrag2 {
    background-size:540px;

    }
    .beitrag3 {
    background-size:540px;

    }

    .beitragbinde {
        font-size:14px;
    }

}

div.col-lg-4:nth-child(3) {
padding-left:0px;

}

.kontaktarea {
 display: flex;
	justify-content: flex-start;

    background-size: 100% auto;
    background-position: center center;
    height:300px;
    width:100%;

    margin-top:-2em;
    z-index: 0; }

.partner {
    background-image: url(image/Startseite/JR-Seminar-2017-web-75.jpg);
    background-attachment:scroll;
    background-size: 150% auto;
    background-position: center center;
    height:300px;
    background-repeat: no-repeat;



   }

div.col-lg-5:nth-child(1) {
    padding-right:0px;
}

div.col-lg-7:nth-child(2) {
    padding-left:0px;
}

.kontakt {
    background-image: url(image/Startseite/JR-Seminar-2017-web-145.jpg);
     background-attachment:scroll;
    background-size: 150% auto;
    background-position: center center;
    height:300px;
    background-repeat: no-repeat;

   }


.kontakttext {
    color:#fff;
    padding:2%;
    width:80%;
    position:relative;
    top:100px;
    margin-left:auto;
    margin-right:auto;
    height:150px;

}

.partnertext {
    color:#fff;
    padding:2%;
    width:80%;
    position:relative;
    top:100px;
    margin-left:auto;
    margin-right:auto;
    height:150px;
    opacity:1;

}

@media only screen and (max-width: 1000px) {
    .kontakt {
        background-size:540px;
    }

       .partner {
        background-size:540px;
    }

}

/*---------------------------------------*/



.footer {
    background-color:#414347;
    height:120%;
    width:100%;

}

.footer-container {
    transform: skewY(-3deg);
     background-color:#414347;
       margin-left:15px;
    margin-right:15px;
   padding-top:-20%;
    margin-top:-2em;


}




.footer a {
    color:#fff;
}

.footer a:hover {
    color:#fff;
    text-decoration: none;
}

.footerlinks {
    color:#fff;
    margin-left:auto;
    margin-right:auto;
    width:60%;
    height:100px;
    margin-top:10%;
    line-height:180%;
     transform: skewY(3deg);
      }

.footeradresse {
    color:#fff;
    margin-left:auto;
    margin-right:auto;
    width:60%;
    height:100px;
    margin-top:15%;
    line-height:160%;
    transform: skewY(3deg);
      }

.footersocial img {
    width:40px;
    padding:2%;

}

.footersocial{
    color:#fff;
    transform: skewY(3deg);
    width:60%;
     margin-left:auto;
    margin-right:auto;
     margin-top:25%;
    height:100px;
}

.footerlogo img {
    width:100%;



}

.footerlogo {
    transform: skewY(3deg);
    width:80%;
    margin-top:25%;
    margin-left:auto;
    margin-right:auto;

}
