/*--------- HEADER -----------*/
.header-bild img{
    width: 100%;
    height: 100%;

    z-index: 1;
}

.header-bild {
    position:relative;
     z-index: 1;
}


/*--------------------------- CONTENT -----------------------------*/

<<<<<<< HEAD

/*------------------------------ INDEX -----------------------------*/
=======
/*--------------------------- STARTSEITE --------------------------*/
>>>>>>> origin/master
.bg {
	display: flex;
	background: url(image/Startseite/gruppenbildAltweiberH800.png) no-repeat;
	justify-content: flex-start;
    height:500px;
    font-size:1.5vw;
    background-attachment:scroll;
    background-size: 150% auto;
    background-position: center center;
    transform: skewY(-2deg);
    margin-top:-2em;
    z-index: 0;
    background-color: darkmagenta;
    }






.beitrag {
    display: flex;
	justify-content: flex-start;
    background-size: 100% auto;
    background-position: center center;

    width:100%;
    transform: skewY(-2deg);
    margin-top:-2em;
    z-index: 0;

    }

.beitrag1 {
    background: url(image/Startseite/beitrag1.png) no-repeat;
    background-attachment:scroll;
    background-size: 150%;
    background-position: center center;
    min-height:350px;
    max-height:450px;
    background-color: blueviolet;

   }



div.col-lg-4:nth-child(1) {
    padding-right:0px;
}

.beitrag2 {
    background-image: url(image/Startseite/beitrag2.png);
    background-color: darkblue;
    background-attachment:scroll;
    background-size: 150% auto;
    background-position: center center;
    min-height:350px;
    max-height:450px;
    background-repeat: no-repeat;
     }

div.col-lg-4:nth-child(2) {
    padding:0px;
}

.beitrag3 {
    background-image: url(image/Startseite/beitrag3.png);
    background-attachment:scroll;
    background-size: 150% auto;
    background-position: center center;
    min-height:350px;
    max-height:450px;
    background-repeat: no-repeat;
    background-color: bisque;

   }

.beitragbinde3 {

    background-color: #186185;
    opacity: 0.7;
    padding:2%;
    width:80%;
    position:relative;
    top:215px;
    margin-left:auto;
    margin-right:auto;
    height:70px;
    transform: skewY(2deg);
    color:#fff;
}


.beitragbinde1 {

    background-color: #186185;
    opacity: 0.7;
    padding:2%;
    width:80%;
    position:relative;
    top:180px;
    margin-left:auto;
    margin-right:auto;
    height:70px;
    transform: skewY(2deg);
    color:#fff;
}

.beitragbinde2 {

    background-color: #186185;
    opacity: 0.7;
    padding:2%;
    width:80%;
    position:relative;
    top:200px;
    margin-left:auto;
    margin-right:auto;
    height:70px;
    transform: skewY(2deg);
    color:#fff;
}

.beitragbinde1 img {
    flot:right;
    width:30px;
}

.beitragbinde2 img {
    flot:right;
    width:30px;
}

.beitragbinde3 img {
    flot:right;
    width:30px;
}

@media only screen and (max-width: 1100px) {

    .beitrag1 {
    background-size:540px;

    }

    .beitrag2 {
    background-size:540px;

    }
    .beitrag3 {
    background-size:540px;

    }

    .beitragbinde {
        font-size:14px;
    }

}

div.col-lg-4:nth-child(3) {
padding-left:0px;

}

.kontaktarea {
 display: flex;
	justify-content: flex-start;
    background-color: aqua;
    background-size: 100% auto;
    background-position: center center;
    height:300px;
    width:100%;

    margin-top:-2em;
    z-index: 0; }

.partner {
    background-image: url(image/Startseite/JR-Seminar-2017-web-75.jpg);
    background-attachment:scroll;
    background-size: 150% auto;
    background-position: center center;
    height:300px;
    background-repeat: no-repeat;



   }

div.col-lg-5:nth-child(1) {
    padding-right:0px;
}

div.col-lg-7:nth-child(2) {
    padding-left:0px;
}

.kontakt {
    background-image: url(image/Startseite/JR-Seminar-2017-web-145.jpg);
     background-attachment:scroll;
    background-size: 150% auto;
    background-position: center center;
    height:300px;
    background-repeat: no-repeat;

   }

<<<<<<< HEAD

=======
>>>>>>> origin/master
/*------------------------------ BLOG -----------------------------*/
.blogpost1 {
    transform: skewY(4deg);
    z-index: 2;
    min-height: 350px;
    margin-top: -75px;
    display: flex;
	background-image: url(image/UnserBlog/altweiber.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.blogpost2 {
    min-height: 300px;
    z-index: 3;
    margin-top:-50px;
    display: flex;
	background-image: url(image/UnserBlog/smartCafe.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.blogpost3 {
    transform: skewY(4deg);
    z-index: 2;
    min-height: 350px;
    margin-top: -60px;
    z-index: 4;
    display: flex;
	background-image: url(image/UnserBlog/sitzung.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.blogpost4 {
    min-height:300px;
    z-index: 5;
    margin-top:-60px;
    display: flex;
	background-image: url(image/UnserBlog/dirtbike.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.blogpost5 {
    transform: skewY(4deg);
    z-index: 6;
    min-height: 350px;
    margin-top: -60px;
    display: flex;
	background-image: url(image/UnserBlog/kickertunier.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.blogpost6 {
    min-height:300px;
    z-index: 7;
    margin-top:-60px;
    display: flex;
	background-image: url(image/UnserBlog/seminar.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.blogpost7 {
    transform: skewY(4deg);
    z-index: 8;
    min-height: 350px;
    margin-top: -60px;
    display: flex;
	background-image: url(image/UnserBlog/neuwahl.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.blogpost8 {
    min-height:100px;
    z-index: 9;
    margin-top:-60px;
    display: flex;
	background-image: url(image/AGsProjekte/rosenmontagAG.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#datum {
    font-style: italic;
}

/*---------------------------- ÜBER UNS ----------------------------*/
.video {
    display: flex;
	background-image: url(image/UeberUns/Imagefilm_Jugendrat.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 400px;
    width: 400px;
}


/*
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
*/


<<<<<<< HEAD
=======
/*-------------------------- AGS/PROJEKTE --------------------------*/

>>>>>>> origin/master
.rechterInfoText{
    transform: skewY(-4deg);
    text-align: left;
    color: white;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 5em;
    margin-bottom: 5em;
}

.mittigerInfoText{
    text-align:inherit;
    color: white;
    margin-top: 2em;
    margin-left: 15em;
    margin-right: 10em;
    margin-bottom: 3em;
    opacity: 1;
}

.mittigerInfoTextGrau{
<<<<<<< HEAD
        text-align: inherit;
        font-size: 120%;
        color: #414347;
        margin-top: 1.1em;
        margin-left: 8em;
        margin-right: 6em;
        margin-bottom: 1em;
        opacity: 1;
}

#slogan {
    font-style: italic;
}


=======
    text-align: inherit;
    font-size: 120%;
    color: #414347;
    margin-top: 1.1em;
    margin-left: 1.8em;
    margin-right: 8em;
    margin-bottom: 1em;
    opacity: 1;
}

<<<<<<< HEAD


@media (max-width: 49em) {
=======
#slogan {
    font-style: italic;
}
>>>>>>> origin/master


@media (max-width: 49em) {
    .rechterInfoText{
    }

    .mittigerInfoText{
        margin-top: 1.7em;
        margin-left: 5em;
        margin-right: 5em;
        margin-bottom: 3em;
    }

    .mittigerInfoTextGrau{
    }

    #slogan {
        font-style: italic;
    }
}



>>>>>>> origin/master
.header {
    min-height:750px;
    z-index: 0;
    display: flex;
	background-image: url(image/AGsProjekte/JR-Seminar-2017-web-146blue.jpg);
    background-attachment:scroll;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.info_sign {
    background-image: url(image/AGsProjekte/information.png);
    height: 250px;
    width: 250px;
    margin-top: 3em;
    margin-left: 8em;
    background-attachment:scroll;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 25% auto;
}

<<<<<<< HEAD
=======


@media (max-width: 80em) {
    .header {
    background-attachment:scroll;
    background-size: 80em;
    }

}



>>>>>>> origin/master
.infobox {
    min-height: 60px;
    z-index:1;
    margin-top:-270px;
    display: flex;
	background-color: white;
    opacity: 0.8;
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.presseAG {
    transform: skewY(4deg);
    z-index: 2;
    min-height: 350px;
    margin-top: -110px;
    display: flex;
	background-image: url(image/AGsProjekte/presseAG.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.weiberfastnachtAG {
    z-index: 3;
    display: flex;
	background-image: url(image/AGsProjekte/weiberfastnachtAG.jpg);
	justify-content: flex-start;
    min-height:300px;
    margin-top:-60px;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    justify-content: flex-start;

    background-size: 100%;

    height:auto;
}

.rosenmontagAG {
    transform: skewY(4deg);
    z-index: 2;
    min-height: 350px;
    margin-top: -60px;
    z-index: 4;
    display: flex;
	background-image: url(image/AGsProjekte/rosenmontagAG.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.sportAG {
    min-height:300px;
    z-index: 5;
    margin-top:-60px;
    display: flex;
	background-image: url(image/AGsProjekte/sportAG.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.schulAG {
    transform: skewY(4deg);
    z-index: 6;
    min-height: 350px;
    margin-top: -60px;
    display: flex;
	background-image: url(image/AGsProjekte/schulAG.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.AGjugendzentren {
    min-height:300px;
    z-index: 7;
    margin-top:-60px;
    display: flex;
	background-image: url(image/AGsProjekte/jugendzentrenAG.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.AGoeffi {
    transform: skewY(4deg);
    z-index: 8;
    min-height: 350px;
    margin-top: -60px;
    display: flex;
	background-image: url(image/AGsProjekte/oeffiAG.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;;
}

.nachhaltigkeitAG {
    min-height:300px;
    z-index: 9;
    margin-top:-60px;
    display: flex;
	background-image: url(image/AGsProjekte/nachhaltigkeitAG.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.dirtbikeAG {
    transform: skewY(4deg);
    z-index: 10;
    min-height: 350px;
    margin-top: -60px;
    display: flex;
	background-image: url(image/AGsProjekte/dirtbikeAG.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.angsttraumAG {
    min-height:300px;
    z-index: 11;
    margin-top:-60px;
    display: flex;
	background-image: url(image/AGsProjekte/angsttraumAG.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

/*----------------------------MEDIA-QUERIES----------------------------*/
@media (max-width: 1280px) {
    .header {
    background-attachment:scroll;
    background-size: 1280px;
    }

}

@media (max-width: 1120px) {
    .mittigerInfoTextGrau{
        margin-left: 6em;
        margin-right: 1em;
    }
    .info_sign {
    margin-left: 5em;
    }
    .presseAG {
    margin-top: -90px;
    }
}

@media (max-width: 880px) {
    .mittigerInfoTextGrau{
        margin-left: 3em;
    }
    .info_sign {
    margin-left: 1em;
    }
    .mittigerInfoText{
        margin-top: 1.7em;
        margin-left: 5em;
        margin-right: 5em;
        margin-bottom: 3em;
    }
    .presseAG {
    margin-top: -70px;
    }
}

    @media (max-width: 500px) {
    .mittigerInfoTextGrau{
        margin-right: 0em;
        margin-left: 3em;
    }
    .info_sign {
    margin-left: 0em;
    }
    .presseAG {
    margin-top: -50px;
    background-size: 320% auto;
    }
}






