/*--------- HEADER -----------*/
.header-bild img{
    width: 100%;
    height: 100%;

    z-index: 1;
}

.header-bild {
    position:relative;
     z-index: 1;
}


/*--------- CONTENT -----------*/
/*--- STARTSEITE --*/
.bg {
	display: flex;
	background-image: url(image/gruppenbildAltweiber.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-size: 100% auto;
    background-position: center center;
    height:500px;
    transform: skewY(-2deg);
    margin-top:-50px;
    z-index: 0;

}

.beitrag {
    display: flex;
	justify-content: flex-start;
    background-attachment:scroll;
    background-size: 100% auto;
    background-position: center center;
    height:300px;
    width:100%;
    transform: skewY(-2deg);
    margin-top:-50px;
    z-index: 0;
}

.beitrag1 {
    background-image: url(image/Beitrage/1DX_4020_SW.jpg);
    background-attachment:scroll;
    background-size: 150% auto;
    background-position: center center;
    height:300px;

   }

div.col-lg-4:nth-child(1) {
    padding-right:0px;
}

.beitrag2 {
    background-image: url(image/Beitrage/JR-SmartCafe-2016-06-14-web-44SW.jpg);
     background-attachment:scroll;
    background-size: 150% auto;
    background-position: center center;
    height:300px;
     }

div.col-lg-4:nth-child(2) {
    padding:0px;
}

.beitrag3 {
    background-image: url(image/Beitrage/JR-Sitzung-08-2018-web-13SW.jpg);
     background-attachment:scroll;
    background-size: 150% auto;
    background-position: center center;
    height:300px;
   }

div.col-lg-4:nth-child(3) {
padding-left:0px;

}

.partner {
    background-image: url(image/HeaderBilder/Header_UEBERUNS.jpg);
     background-attachment:scroll;
    background-size: 150% auto;
    background-position: center center;
    height:300px;
    margin-top:-30px;


   }

div.col-lg-5:nth-child(1) {
    padding-right:0px;
}

div.col-lg-7:nth-child(2) {
    padding-left:0px;
}

.kontakt {
    background-image: url(image/HeaderBilder/Header_HOME.jpg);
     background-attachment:scroll;
    background-size: 150% auto;
    background-position: center center;
    height:300px;
    margin-top:-30px;

   }

/*--- BLOG --*/
.blogpost1 {
    display: flex;
	background-image: url(image/UnserBlog/altweiber.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 200px;
}

.blogpost2 {
    display: flex;
	background-image: url(image/UnserBlog/smartCafe.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 200px;
}

.blogpost3 {
    display: flex;
	background-image: url(image/UnserBlog/sitzung.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 200px;
}

.blogpost4 {
    display: flex;
	background-image: url(image/UnserBlog/dirtbike.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 200px;
}

#datum {
    font-style: italic;
}

/*--- AGS/PROJEKTE --*/
.rechterInfoText{
    text-align: left;
    color: white;
    margin: 3em 6em 3em 1em;
}

.mittigerInfoText{
    text-align:justify;
    color: white;
    margin-top: 3em;
    margin-left: 25em;
    margin-right: 15em;
    margin-bottom: 3em;
    opacity: 3;
}

#slogan {
    font-style: italic;
}

.presseAG {
    display: flex;
	background-image: url(image/AGsProjekte/presseAG.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 200px;
}

.weiberfastnachtAG {
    display: flex;
	background-image: url(image/AGsProjekte/weiberfastnachtAG.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 200px;
}

.rosenmontagAG {
    display: flex;
	background-image: url(image/AGsProjekte/rosenmontagAG.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 200px;
}

.sportAG {
    display: flex;
	background-image: url(image/AGsProjekte/sportAG.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height:200px;
}

.schulAG {
    display: flex;
	background-image: url(image/AGsProjekte/schulAG.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height:200px;
}

.AGjugendzentren {
    display: flex;
	background-image: url(image/AGsProjekte/jugendzentrenAG.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height:200px;
}

.AGoeffi {
    display: flex;
	background-image: url(image/AGsProjekte/oeffiAG.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 150px;
}

.nachhaltigkeitAG {
    display: flex;
	background-image: url(image/AGsProjekte/nachhaltigkeitAG.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height:150px;
}

.dirtbikeAG {
    display: flex;
	background-image: url(image/AGsProjekte/dirtbikeAG.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height:200px;
}

.angsttraumAG {
    display: flex;
	background-image: url(image/AGsProjekte/angsttraumAG.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height:200px;
}


