/*--------- HEADER -----------*/
.header-bild img{
    width: 100%;
    height: 100%;

    z-index: 1;
}

.header-bild {
    position:relative;
     z-index: 1;
}

/*---------------------------- ÜBER UNS ----------------------------*/
.video {
    display: flex;
	background-image: url(image/UeberUns/Imagefilm_Jugendrat.jpg);
	justify-content: flex-start;
    background-attachment:scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 400px;
    width: 400px;
}


/*
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
*/
