/*--------- HEADER -----------*/
.header-bild img{
    width: 100%;
    height: 100%;
    z-index: 1;
}

.header-bild {
    position:relative;
    z-index: 1;
}

/*---------------------------- ÜBER UNS ----------------------------*/
.informationsBereich {
    transform: skewY(4deg);
    display: flex;
    justify-content: flex-start;
    background-size: 100% auto;
    background-position: center center;
    margin-top: -5em;
    z-index: 0;
/*    width: 100%;*/

    height: 315px;
}

.hintergrundbild {
    background-image: url(image/UeberUns/portrait.jpg);
    background-attachment:scroll;
/*    background-size: 150% auto;*/
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 900px;
/*    filter: blur(3px);*/
/*    -webkit-filter: blur(3px);*/
}

.infoText{
    transform: skewY(-4deg);
    position: relative;
    text-align: left;
    color: black;
    top: 100px;
    margin-left: 1em;
    margin-right: 2em;

}

#ueberschrift {
    font: normal 25px Segoe UI semibold, sans-serif;
}

#text {
    font: normal 20px Segoe UI, sans-serif;
}

#videobereich {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}
.videoextern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/*
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
*/
