/*--------- HEADER -----------*/


.header {
    min-height:650px;
    z-index: 0;
    display: flex;
	background-image: url(image/AGsProjekte/weiberfastnachtAGs.jpg);
    background-attachment:scroll;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.logo {
    height: 150px;
    width: 400px;
    background-image: url(image/Logo_Header.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.headline {
    width: 900px;
    height: 80px;
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(image/AGsProjekte/Headline_Weiber.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

/*.header-bild img{
    width: 100%;
    height: 100%;
    z-index: 0;
}

.header-bild {
    position:relative;
    z-index: 0;
}*/

/*---------------------------- WEIBERFASTNACHT-AG ----------------------------*/

.infoBereich {
    transform: skewY(4deg);
    display: flex;
    justify-content: flex-start;
    background-size: 100% auto;
    background-position: center center;
    margin-top: -5em;
    z-index: 1;
    height: 100%;
}

.hintergrundbild {
    background-image: url(image/AGsProjekte/weiberfastnachtAG.jpg);
    background-attachment:scroll;
    background-size: 600% auto;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 450px;
/*    filter: blur(3px);*/
/*    -webkit-filter: blur(3px);*/
}

.infoText{
    transform: skewY(-4deg);
    position: relative;
    text-align: left;
    color: black;
    top: 40px;
    margin-left: 1em;
    margin-right: 2em;
}

#ueberschrift {
    font: normal 25px Segoe UI semibold, sans-serif;
}

#text {
    font: normal 20px Segoe UI, sans-serif;
}

#zwischenueberschirft {
    position: relative;
    font: bold 68px Segeo UI bold, sans-serif;
    color: white;
    transform: rotate(-90deg);
    top: 380px;
    margin-left: 1.5em;
}

.wrapper {
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}

.mitgliederBereich{
    transform: skewY(-4deg);
    z-index: 0;
    height: auto;
}

.mitglied1 {
    background-image: url(image/UeberUns/Portrait_Fotos_SW/26_werthebach_maxSW.jpg);
    background-attachment:scroll;
    background-size: 170%;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 150px;
}

.mitglied2 {
    background-image: url(image/UeberUns/Portrait_Fotos_SW/9_ro%C3%9F_neleSW2.jpg);
    background-attachment:scroll;
    background-size: 170% auto;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 150px;
}

.mitglied3 {
    background-image: url(image/UeberUns/Portrait_Fotos_SW/17_schams_mauriceSW.jpg);
    background-attachment:scroll;
    background-size: 160% auto;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 150px;
}

.mitglied4 {
    background-image: url(image/UeberUns/Portrait_Fotos_SW/25_wendeler_vivienneSW2.jpg);
    background-attachment:scroll;
    background-size: 160% auto;
    background-position: right top;
    background-repeat: no-repeat;
    min-height: 150px;
}
.mitglied5 {
    background-image: url(image/UeberUns/Portrait_Fotos_SW/27_mussinger_mariusSW.jpg);
    background-attachment:scroll;
    background-size: 170% auto;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 150px;
}

.mitglied6 {
    background-image: url(image/UeberUns/Portrait_Fotos_SW/1_d%C3%B6rkes_benediktSW.jpg);
    background-attachment:scroll;
    background-size: 170% auto;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 150px;
}

.mitglied7 {
    background-image: url(image/UeberUns/Portrait_Fotos_SW/22_vollmer_katharinaSW2.jpg);
    background-attachment:scroll;
    background-size: 170% auto;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 150px;
}

.mitglied8 {
    background-image: url(image/UeberUns/Portrait_Fotos_SW/32_meierdircks_evaSW2.jpg);
    background-attachment:scroll;
    background-size: 170% auto;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 150px;
}

.mitglied9 {
    background-image: url(image/UeberUns/Portrait_Fotos_SW/28_guten_maximilianSW.jpg);
    background-attachment:scroll;
    background-size: 170% auto;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 150px;
}

.bilder {
    transform: skewY(-4deg);
    display: flex;
    flex-direction: column;
}

.bild1 {
    background-image: url(image/AGsProjekte/weiberAG1.jpg);
    background-attachment:scroll;
    background-size: 150% auto;
    background-position: right top;
    background-repeat: no-repeat;
    min-height: 150px;
}

/*----------------------------MEDIA-QUERIES----------------------------*/

/*------- Die Pixel-Größen entsprechen col-md, col-sm und col-xs ------*/


/*--------------------- SMALL DESKTOP (md) -----------------*/
@media (max-width: 1199px) {
    .header {
        background-size: 1300px;
    }
    .headline {
        width: 800px;
    }

    .mitglied1 {
        background-size: 200%;
    }
    .mitglied2 {
        background-size: 200%;
    }
    .mitglied3 {
        background-size: 200%;
    }
    .mitglied4 {
        background-size: 200%;
    }
    .mitglied5 {
        background-size: 200%;
    }
    .mitglied6 {
        background-size: 200%;
    }
    .mitglied7 {
        background-size: 200%;
    }
    .mitglied8 {
        background-size: 200%;
    }
    .mitglied9 {
        background-size: 200%;
    }

}


/*--------------------- TABLET (sm) -----------------*/
@media (max-width: 991px) {

    .headline {
        width: 700px;
    }
    .headline {
        background-image: none;
    }
}


/*--------------------- SMARTPHONE (xs) -----------------*/
@media (max-width: 767px) {
    .logo{
        width: 290px;
    }
}

/*--------------------- SMALL SMARTPHONE -----------------*/
@media (max-width: 510px) {

}


