/*--------- HEADER -----------*/

.header {
    min-height:750px;
    z-index: 0;
    display: flex;
	background-image: url(image/AGsProjekte/weiberfastnachtAGs.jpg);
    background-attachment:scroll;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.logo {
    height: 150px;
    width: 400px;
    background-image: url(image/Logo_Header.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.headline {
    width: 500px;
    height: 90px;
    margin-top: 245px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(image/AGsProjekte/Headline_Weiber.png);
    background-size: 100%;
    background-repeat: no-repeat;
}


/*---------------------------- WEIBERFASTNACHT-AG ----------------------------*/
.infoBereich {
    transform: skewY(4deg);
    display: flex;
    justify-content: flex-start;
    background-size: 100% auto;
    background-position: center center;
    margin-top: -5em;
    z-index: 1;
    height: 100%;
}

.hintergrundbild {
    background-image: url(image/AGsProjekte/weiberfastnachtAG.jpg);
    background-attachment:scroll;
/*    background-size: 150% auto;*/
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 1000px;
/*    filter: blur(3px);*/
/*    -webkit-filter: blur(3px);*/
}

.infoText{
    transform: skewY(-4deg);
    position: relative;
    text-align: left;
    color: black;
    top: 80px;
    margin-left: 1em;
    margin-right: 2em;
}

#ueberschrift {
    font: normal 25px Segoe UI semibold, sans-serif;
}

#text {
    font: normal 20px Segoe UI, sans-serif;
}

#zwischenueberschirft {
    position: relative;
    font: bold 80px Segeo UI bold, sans-serif;
    color: white;
    transform: rotate(-90deg);
    top: 500px;
}
.mitgliedText {
    background-image: url(image/AGsProjekte/weiberfastnachtAG.jpg);
    background-attachment:scroll;
/*    background-size: 150% auto;*/
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 900px;
}
.mitglied1 {
    background-image: url(image/UeberUns/Portrait_Fotos_SW/26_werthebach_maxSW.jpg);
    background-attachment:scroll;
    background-size: 150% auto;
    background-position: right top;
    background-repeat: no-repeat;
    min-height: 200px;
}

.mitglied2 {
    background-image: url(image/UeberUns/Portrait_Fotos_SW/9_ro%C3%9F_neleSW2.jpg);
    background-attachment:scroll;
    background-size: 150% auto;
    background-position: right top;
    background-repeat: no-repeat;
    min-height: 200px;
}
